body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.hero {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links{
    display: flex;
    gap: 15px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.sign-up-button {
    flex-grow: 0;
    padding: 5px 25px;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    align-self: flex-start;
}

.image {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.images {
    display: flex;
    gap: 50px;
}

.img-with-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img-text {
    width: 150px;
    color: #1f2937;
    text-align: center;
}

.image-2 {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: #3882f6;
    border-style: solid;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px 150px;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: end;
    font-weight: bold;
}

.sign-up-container {
    display: flex;
    justify-content: center;    
}

.sign-up-background {
    background-color: #3882f6;
    display: flex;
    flex: 1;
    color: white;
    border-radius: 8px;
    margin: 100px 150px;
    padding: 50px 75px;
    align-items: center;
    justify-content: space-between;
}

.sign-up-background .sign-up-button {
    border: solid;
    border-color: white;
    align-self: center;
}

.sign-up-text p {
    margin: 0;
    padding: 0;
}

.sign-up-call {
    font-size: 18px;
    font-weight: bold;
}